/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2024, 11:12:24 PM
    Author     : Admin
*/
header {
  background-image: url("../img/background4.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* view height */
  background-attachment: fixed;
}

.logo {
  width: 350px;
}

.row {
  width: 1140px;
  margin: 0 auto;
}
.row h1{
    color: red;
    
}
.header {
    position: relative; /* hoặc absolute/fixed tùy theo cấu trúc của bạn */
    z-index: 10; /* Giá trị z-index lớn hơn để đảm bảo phần header nằm trên các phần tử khác */
}

